*
!*/
!.gitignore
!.github/**
.idea/.gitignore

!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
!LICENSE
!README.md
!settings.gradle

!common/build.gradle
!forge/build.gradle
!fabric/build.gradle

!gradle/wrapper/**
!forge/src/**
!fabric/src/**
!common/src/**
